<div class="landing_page">
  <div class="landing_page_content">
    <h1>The simplest way to keep notes.</h1>
    <p>Light, clean, and free. Totes Notes is now available for the web.</p>
    <button class="try_now" id= "myButton" name="button">TRY NOW</button>
  </div>
</div>
