<h2 id="header_top">Create a Note </h2>

<div class="container">
  <form action="/notes/new" method="post">

    <div class="field-wrap">
      <label for="note-title-input"></label>
      <input id="note-title-input" type="text" name="noteTitle" placeholder="Title">
    </div>

    <div class="field-wrap">
      <label for="note-content-input"></label>
      <textarea id="note-content-input" name="noteContent"></textarea>
    </div>

    <button class="button button-block" type="submit" name="button button-block">Save this Note</button>
  </form>
</div>
