<h2>Create a Note </h2>

<form action="/notes/new" method="post">

  <div class="">
    <div class="field-wrap">
      <label for="note-title-input"></label>
      <input id="note-title-input" type="text" name="noteTitle" placeholder="Title">
    </div>

    <div class="field-wrap">
      <label for="note-content-input"></label>
      <textarea id="note-content-input" name="noteContent"></textarea>
    </div>

    <button type="submit" name="button">Save this Note</button>
  </div>
</form>
