<h2>My Notes</h2>

<ul>
  <% notesAndStuff.forEach((oneNote) => { %>
    <li>
        <h3><%= oneNote.title %></h3>
        <p> <%= oneNote.content %></p>
        <a href="/<%= oneNote._id %>/edit">Edit</a>
        <a href="/notes/<%= oneNote._id %>/delete">Delete</a>
    </li>
  <% }) %>
</ul>
